{% extends "board/base.html" %}
{% block title %}日記{% endblock %}
{% block content %}
<div class="container">
	{% for alert_message in messages %}
		<div class="alert alert-{{alert_message.tags}}">{{ alert_message }}</div>
	{% endfor %}
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading" align="center">
					<h3>帳號註冊</h3>
				</div>
			</div>
		</div>
	</div>
	<form name="my form" action="." method="POST">
		{% csrf_token %}
		<table>
		{{ form.as_table }}
		</table>
		<!--心情：
		{% for m in mood %}
		<input type="radio" name="mood" value="{{m.status}}">{{m.status}}
		{% endfor %}
		<br>
		留言板：<br>
		<textarea name="user_post" rows=3 cols=70></textarea><br>
		<label for="user_id">暱稱:</label>
		<input type="text" name="user_id" id="user_id"><br>
		<label for="user_pass">張貼/刪除密碼:</label>
		<input type="text" name="user_pass" id="user_pass"><br>
		<label for="byear">出生年</label>
		<select name="byear">
			{% for year in years %}
				<option value={{year}}>{{year}}</option>
			{% endfor %}
		</select><br-->
		<input type="submit" value="送出">
		<input type="reset" value="清除">
	</form>
</div>
{% endblock %}