{% extends 'base.html' %}

{% block title %}News{% endblock %}
{% block tvname %}{{ tv.name }}{% endblock %}
{% block menu %}
	<ul class='nav navbar-nav'>
		<li class='active'><a href="/">HOME</a></li>
		<li><a href="{% url 'tv-url' 0 %}">東森</a></li>
		<li><a href="{% url 'tv-url' 1 %}">TVBS</a></li>
		<li><a href="{% url 'tv-url' 2 %}">民視</a></li>
		<li><a href="{% url 'tv-url' 3 %}">台視</a></li>
	</ul>
{% endblock %}
{% block contain %}
	<div class=container>
		<div id='tvcode' align='center'>
			{% if hour > 18 %}
				Good night!
			{% else %}
				Good morning!
			{% endif %}
			<br>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ tv.tvcode }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			
		</div>
	</div>
{% endblock %}