{% extends 'mobile/base.html' %}
{% block title %}中古手機{% endblock %}
{% block content %}
<div class="container" align="content">
	{% for p in products %}
	{% if forloop.first %}
	<table>
		<tr bgcolor="#cccccc">
			<td width="250">手機</td>
			<td width="150">廠牌/型號</td>
			<td width="50">出廠年</td>
			<td>價錢</td>
		</tr>
	{% endif %}
		<tr bgcolor="{% cycle '#ffccff' '#ccffcc' %}">
			<td ><a href="{% url 'detail-url' p.id %}">{{ p.nickname }}</a></td>
			<td >{{ p.pmodel.maker.name }}/{{ p.pmodel.name }}</td>
			<td >{{ p.year }}</td>
			<td >{{ p.price }}</td>
		</tr>
	{% if forloop.last %}
	</table>
	{% endif %}
	{% empty %}
		<h3>無存貨</h3>
	{% endfor %}
</div>
{% endblock %}