{% extends "board/base.html" %}
{% block title %}分享日記{% endblock %}
{% block content %}
<div class="container">
	{% for alert_message in messages %}
		<div class="alert alert-{{ alert_message.tags }}">{{ alert_message }}</div>
	{% endfor %}
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading" align="center">
					<h3>{{ username | default:"我"}}的私人日記</h3>
				</div>
			</div>
		</div>	
	</div>
	{% for diary in diaries %}
		{% cycle "<div class='row'>" "" ""%}
			<div class="col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading" align="center">
						{{diary.ddate}}
					</div>
					<div class="panel-body">
						{{diary.note | linebreaks}}
					</div>
					<div class="panel-foot">
						今日花費：{{diary.budget}}元，體重：{{diary.weight}}
					</div>
				</div>
			</div>
		{% cycle "" "" "</div>" %}
	{% empty %}
		<h3><em>請先登入</em></h3>
	{% endfor %}
</div>
{% endblock %}